{% extends 'CrystalrutasBundle:Default:index.html.twig' %}


{% block center %}

<div class="top-bar">          
		<div align="center"><h1>Planilla de Sueldos del dia 14 de Enero de 2012</h1></div>
	</div>
	<div class="top-bar">          
		<div align="center"><h1>Prepago y Mas S.A. de C.V.</h1></div>
	</div>
	
		<br /> <br /><br /><br />
	<div class="table" style="">
		<div id="generalData" style="display: block">
			<table class="listing form" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0 auto;border: 0px;">
				<tr>
				    <td><b>Codigo</b></td>
					<td><b>Nombre</b></td>
					</td><td><b>Apellido</b></td>
					<td><b>Departamento</b></td>
					<td><b>Puesto</b></td>
					<td><b>Salario</b></td>
					<td><b>Salario Diario</b></td>
					<td><b>Isss</b></td>
					<td><b>Renta</b></td>
					<td><b>Afp</b></td>
					<td><b>Neto Pagar</b></td>
				</tr>

				{% for Empleados  in Empleados %}
				<tr>
				    <td>{{ Empleados.codigo}}</td>
					<td>{{ Empleados.nombre}}</td>
					<td>{{ Empleados.apellido}}</td>
				    <td>
						{% for departamento in Departamentos %}
							{% if departamento == Empleados.idDepartamento %}
								{{ departamento.Nombre }}
							{% endif %}
						{% endfor %}
					</td>
					<td>{{ Empleados.puesto}}</td>
					<td>{{ Empleados.salario}}</td>
					<td>{{ Empleados.salarioDiario}}</td>
					<td>
						{{ Empleados.salario * 0.03}}
					</td>
					<td>
						{{ Empleados.salario * 0.10}}
					</td>
					<td>
						{{ Empleados.salario * 0.07}}
					</td>
					<td>
					    {{ Empleados.salario  - (Empleados.salario * 0.20)}}
					</td>

					

				</tr>
				{% endfor %}
				<tr>
					 <td><b>...</b></td>
					 <td><b>...</b></td>
					 <td><b>...</b></td>
					 <td><b>...</b></td>
					 <td><b>...</b></td>
					 <td><b>...</b></td>
					 <td><b>...</b></td>
					 <td>
						<a href="">
							<img src="{{ asset('img/new.png') }}">
						</a>
					</td>
					 <td>
						<a href="">
							<img src="{{ asset('img/new.png') }}">
						</a>
					</td>
					 <td>
						<a href="">
							<img src="{{ asset('img/edit.png') }}">
						</a>
					</td>
					<td>
						<a href="" onClick="return confirmDelete();">
							<img src="{{ asset('img/delete.png') }}" wwidth="24" height="24" />
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>

{% endblock %}
