{% extends 'CrystalrutasBundle:Default:index.html.twig' %}

{% block center %}

<div class="top-bar">          
		<div align="center"><h1>Tipos de Faltas</h1></div>
	</div>
	<br /><br /><br /><br /><br /><br />
	<form method="post">
	<table style="font-weight: bold;" class="searchBox" align="center">
		<tr>
			<td>Nombre</td><td><input type="text" name="txtName" class="text" /></td>
			<td><input type="submit" name="btnSearch" value="Buscar" /></td>
		</tr>
	</table>
	</form>

		<br /> <br /><br /><br />
	<div class="table" style="border: 1px solid #000;">
		<div id="generalData" style="display: block">
			<table class="listing form" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0 auto;border: 0px;">
				<tr>
					<td><b>Descripción</b></td><td><b>Remunerada</b></td></td><td><b>Septimo</b></td><td><b>Modificar</b></td><td><b>Eliminar</b></td>
				</tr>

				{% for faltas in faltas %}
				<tr>
					<td>{{ faltas.descripcion}}</td>
						{% if faltas.remunerada == 0 %}
							<td>No</td>
						{% else %}
							<td>Si</td>
						{% endif %}		

						{% if faltas.septimo == 0 %}
							<td>No</td>
						{% else %}
							<td>Si</td>
						{% endif %}
					<td>
					  <a href="{{ path('modificarFaltas', {'id' : (faltas.id)}) }}">
						<img src="{{ asset('img/edit.png') }}">
					  </a>
				    </td>
					<td>
						<a href="{{ path('eliminarFaltas', {'id' : (faltas.id)}) }}" onClick="return confirmDelete();">
							<img src="{{ asset('img/delete.png') }}" wwidth="24" height="24" />
						</a>
					</td>

				</tr>
				{% endfor %}
				<tr>
					<td><b>...</b></td><td><b>...</b></td><td><b>...</b></td><td><b>...</b></td><td><b><a href="{{ path('agregarFaltas') }}" alt="Agregar AFP" title="Agregar AFP"><img src="{{ asset('img/new.png') }} " width="24" height="24" /></a></b></td> 
				</tr>
			</table>
		</div>
	</div>

{% endblock %}


