{% extends 'CrystalrutasBundle:Default:index.html.twig' %}

{% block center %}
	<script>
	var i = 0;
	var j = 0;
	var send = 0;

	function changeTab(Tab, tab1, tab2, tab3)
	{
		tab = document.getElementById(Tab);
		tab.style.display = 'block';
		tab.className = 'active';
		document.getElementById(tab1).style.display = 'none';
		document.getElementById(tab1).className = '';
		document.getElementById(tab2).style.display = 'none';
		document.getElementById(tab2).className = '';
		document.getElementById(tab3).style.display = 'none';
		document.getElementById(tab3).className = '';

	}

	function envForm()
	{
		send++;
		if(send == 1)
		{
			alert("Verifique que todos los campos hallan sido llenados, de lo contrario no podra ingresar al sistema el nuevo empleado.");
			return false;
		}
		else
		{
			return true;
		}
	}

	function clonarTel(id)
	{
		i++;
		var tr = document.getElementById(id).cloneNode(true);

		tr.id = 'childPhone' + i;
		tr.getElementsByTagName('td')[0].innerHTML = '<b>Telefono' + (i+1) + '</b>';
		tr.getElementsByTagName('td')[1].getElementsByTagName('input')[0].value= '';
		tr.getElementsByTagName('td')[1].getElementsByTagName('input')[0].name= 'txtTel' + i;
		tr.getElementsByTagName('td')[2].innerText = '';
		tr.getElementsByTagName('td')[2].innerHTML = '';
		tr.getElementsByTagName('td')[3].innerHTML = '<a onClick="borrarTel(\'childPhone' + i + '\')" style="cursor: pointer;">Eliminar</a>';

		document.getElementById('numPhones').value = i + 1;

		document.getElementById('parentPhone').appendChild(tr);
	}

	function clonarDep(id)
	{
		j++;

		var tr = document.getElementById(id).cloneNode(true);

		tr.id = 'childDependents' + j;
		tr.getElementsByTagName('td')[0].innerHTML = '<b>Dependiente' + (j+1) + '</b>';
		tr.getElementsByTagName('td')[1].getElementsByTagName('input')[0].value = '';
		tr.getElementsByTagName('td')[1].getElementsByTagName('input')[0].name = 'txtDep' + j;
		tr.getElementsByTagName('td')[2].getElementsByTagName('select')[0].name = 'txtTypeDep' + j;
		tr.getElementsByTagName('td')[3].innerText = ''; 
		tr.getElementsByTagName('td')[3].innerHTML = '';
		tr.getElementsByTagName('td')[4].innerHTML = '<a onClick="removeChildDep(\'childDependents' + j + '\')" style="cursor: pointer;">Eliminar</a>';

		document.getElementById('numDep').value = j + 1;

		document.getElementById('parentDependents').appendChild(tr);
	}

	function borrarTel(id)
	{
		var hijo = document.getElementById(id);
		var tata = hijo.parentNode;
		tata.removeChild(hijo);

		i--;

		document.getElementById('numDep').value = i + 1;
	}

	function removeChildDep(id)
	{
		child = document.getElementById(id);
		parent = child.parentNode;
		parent.removeChild(child);

		j--;

		document.getElementById('numPhones').value = j + 1;
	}
	function validSelects(select)
	{
		var valid = true;
		if(document.getElementById(select).value == 0)
		{
			document.getElementById(select).className = 'selectError';
			valid = false;
		}
		return valid;
	}
</script>
<div class="top-bar">                    
    <div align="center"><h1>Modificar  empleados</h1></div>
</div>
<br /><br /><br /><br /><br /><br />
<table align="center">
	<tr><td>
	<ul id="top-navigation2">
		<li><a onClick="changeTab('generalData', 'dataPlanilla', 'personalData', 'otherData')">Datos Generales</a></li>
		<li><a onClick="changeTab('dataPlanilla', 'personalData', 'generalData', 'otherData')">Datos de planilla</a></li>
		<li><a onClick="changeTab('personalData', 'dataPlanilla', 'generalData', 'otherData')">Datos Personales</a></li>
		<li><a onClick="changeTab('otherData', 'personalData', 'dataPlanilla', 'generalData')">Otros Datos</a></li>
	</ul>
	</td></tr>
</table>
<form method="post" enctype="multipart/form-data"  onSubmit=" return validSelects('txtEstado')">
<div class="table">
	<div id="generalData" style="display: block">
		<table class="listing form" cellpadding="0" cellspacing="0" style="width: 80%; margin: 0 auto;border: 0px;">
	        <tr>
	            <td><strong>Codigo del Empleado</strong></td>
				<td><input type="text" name="txtCode" class="text" required  value="{{ Emp.codigo }}"/></td>
	        </tr>
	        <tr>
	            <td><strong>Nombres</strong></td>
	            <td><input type="text" name="txtName" class="text" required value="{{ Emp.nombre }}" /></td>
	        </tr>
	        <tr>
				<td><strong>Apellidos</strong></td>
				<td><input type="text" name="txtApe" class="text" required  value="{{ Emp.apellido}}"/></td>
			</tr>
			<tr>
				<td><strong>Estado Empleado</strong></td>
				<td>
						<select type="text" name="txtEst" class="text">
							<option value="{{Emp.estado}}">
							{% if Emp.estado == '1' %}
							  Activo
							{% else %}
							  Inactivo
							{% endif %}
							</option>
							<option value="{% if Emp.estado == '1' %}
							Inactivo
							{% else %}
							Activo
							{% endif %}
							">
							{% if Emp.estado == '1' %}
							Inactivo
							{% else %}
							Activo 
							{% endif %}
							</option>

							
					</select>
				</td>
			</tr>
			<tr>
				<td><strong>N&uacute;mero de DUI</strong></td>
				<td><input type="text" name="txtDUI" class="text" required pattern="\d{8}-\d{1}"  title="00000000-0" value="{{ Emp.dui }}"/></td>
			</tr>
			<tr>
				<td><strong>Fecha de expedici&oacute;n del DUI</strong></td>
				<td><input type="text" name="txtFechaDui" class="text" required value="{{ Emp.fechaExpedicion }}"/></td>
			</tr>
			<tr>
				<td><strong>Lugar de expideci&oacute;n del DUI</strong></td>
				<td><input type="text" name="txtLugarDui" class="text" required value="{{ Emp.lugarExpedicion }}"/></td>
			</tr>
			<tr>
				<td><strong>N&uacute;mero de NIT</strong></td>
				<td><input type="text" name="txtNIT" class="text" required pattern="\d{4}-\d{6}-\d{3}-\d{1}"  title="0000-000000-000-0" value="{{ Emp.nit }}"/></td>
			</tr>
			<tr>
				<td><strong>N&uacute;mero de ISSS</strong></td>
				<td><input type="text" name="txtISSS" class="text" required value="{{ Emp.isss }}"/></td>
			</tr>
			<tr>
				<td><strong>Departamento laboral</strong></td>
				<td>
						<select type="text" name="txtDeptLab" required class="text">
							{% for depto in Deptos %}
								<option value="{{ depto.id }}">{{ depto.Nombre }}</option>
							{% endfor %}
						</select>
				</td>
			</tr>
			<tr>
				<td><strong>Puesto laboral</strong></td>
				<td><input type="text" name="txtPuesto" class="text" required value="{{ Emp.puesto }}"/></td>
			</tr>
			<tr>
				<td><strong>Sexo</strong></td>
				<td>
					<select type="text" name="txtSexo" class="text">
							<option value="{{Emp.sexo}}">{{Emp.sexo}}</option>
							<option value="{% if Emp.sexo == 'Masculino' %}
							Femenino
							{% else %}
							Masculino
							{% endif %}
							">
							{% if Emp.sexo == 'Masculino' %}
							Femenino
							{% else %}
							Masculino 
							{% endif %}
							</option>

							
					</select>
				</td>
			</tr>
			<tr>
				<td ><strong>Foto</strong></td>
				<td style="width: 20%; height:auto;"><a id="single_2" rel="group" href="{{ asset(Emp.foto) }}">
					<img src="{{ asset(Emp.Foto) }}" style="padding-top:7px; padding-right:7px; width: 45%; height: auto;" alt="Empleado" />
					</a><input type="file"  name="txtFoto" class="text" style="width: 45%; height: auto;" value="{{Emp.foto}}"/>
				</td>
			</tr>
		</table>
	</div>
	<div id="dataPlanilla" style="display: none">
		<table class="listing form" cellpadding="0" cellspacing="0" style="width: 80%; margin: 0 auto;border: 0px;">
			<tr>
				<td><strong>Salario</strong></td>
				<td><input type="text" name="txtSalario" class="text" required value=" {{ Emp.salario }}"/></td>
			</tr>
			<tr>
				<td><strong>Forma de pago</strong></td>
				<td>
						<select type="text" name="txtPago" class="text">
							<option value="{{Emp.formaPago}}">{{Emp.formaPago}}</option>
							<option value="{% if Emp.formaPago == 'Efectivo' %}
							Cheques">Cheques</option>
							<option value="Transacciones Bancarias">Transacciones Bancarias
							{% elseif Emp.formaPago == 'Transacciones Bancarias' %}
							Efectivo">Efectivo</option>
							<option value="Cheques">Cheques
							{% else %}
							Efectivo">Efectivo</option>
							<option value="Transacciones Bancarias"> Transacciones Bancarias
							{% endif %}
							</option>

						</select>
				</td>
			</tr>
			<tr>
				<td><strong>Turno</strong></td>
				<td>
						<select type="text" name="txtTurno" class="text">
							<option value="{{ Emp.turno }}">{{ Emp.turno }}</option>
							<option value="{% if Emp.turno ==  'Matutino'%}
							Vespertino">Vespertino</option>
							<option value="Nocturno">Nocturno</option>
							<option value="Mixto">Mixto
							{% elseif Emp.turno == 'Vespertino'%}
							Matutino">Matutino</option>
							<option value="Nocturno">Nocturno</option>
							<option value="Mixto">Mixto
							{% elseif Emp.turno == 'Noctuno'%}
							Nocturno">Nocturno</option>
							<option value="Matutino">Matutivo</option>
							<option value="Vespertino">Vespertino</option>
							<option value="Mixto">Mixto
							{% else %}
							Mixto">Mixto</option>
							<option value="Matutino">Matutino</option>
							<option value="Vespertino">Vespertino</option>
							<option value="Nocturno">Nocturno
							{% endif %}
							</option>
						</select>
				</td>
			</tr>
			<tr>
				<td><strong>AFP de afiliaci&oacute;n</strong></td>
				<td>
						<select type="text" name="txtAfp" required class="text">
							{% for afp in afps %}
								<option value="{{ afp.id }}">{{ afp.Nombre }}</option>
							{% endfor %}
						</select>
				</td>
			</tr>
			<tr>
				<td><strong>N&uacute;mero de AFP</strong></td>
				<td><input type="text" name="txtNumAfp" class="text" required value="{{ Emp.numAfp}}"/></td>
			</tr>
			<tr>
				<td><strong>Banco de pago</strong></td>
				<td>
						<select type="text" name="txtBanco" class="text">
							{% for banco in bancos %}
								<option value="{{ banco.id }}">{{ banco.Nombre }}</option>
							{% endfor %}
						</select>
				</td>
			</tr>
			<tr>
				<td><strong>Cuenta de Pago</strong></td>
				<td><input type="text" name="txtCuetaBan" class="text" required value="{{ Emp.cuentaBanco }}"/></td>
			</tr>
			<tr>
				<td><strong>Tipo de empleado</strong></td>
				<td>
						<select type="text" name="txtTipo" class="text" value="">
							<option value="{{ Emp.tipoEmpleado}}">{{ Emp.tipoEmpleado }}</option>
							<option value="{% if Emp.tipoEmpleado == 'Fijo'%}
							Por horas">Por hora</option>
							<option value="Por servicio">Por servicio
							{% elseif Emp.tipoEmpleado == 'Por Hora' %}
							Fijo">Fijo</option>
							<option value="Por servicio">Por servicio
							{% else %}
							Fijo">Fijo</option>
							<option value="Por hora">Por hora</option>
							{% endif %}
							</option>
						</select>
				</td>
			</tr>
			<tr>
				<td><strong>Empleado bajo contrato</strong></td>
				<td>
						<select type="text" name="txtBajoContrato" class="text" value="">
							<option value="{{ Emp.bajoContrato }}">{{ Emp.bajoContrato }}</option>
							<option value="{% if Emp.bajoContrato == 'Si'%}
							No">No
							{% else %}
							Si">Si
							{% endif %}
							</option>
						</select>
				</td>
			</tr>
			<tr>
				<td><strong>N&uacute;mero de Contrato</strong></td>
				<td><input type="text" name="txtContrato" class="text" required value="{{ Emp.numContrato }}"/></td>
			</tr>
		</table>
	</div>
	<div id="personalData" style="display: none">
		<table class="listing form" cellpadding="0" cellspacing="0" style="width: 80%; margin: 0 auto;border: 0px;">
			<tr>
				<td><strong>Direcci&oacute;n</strong></td>
				<td><textarea name="txtDir" class="text" style="width:262px;" required>{{ Emp.direccion }}</textarea></td>
			</tr>
			<tr>
				<td><strong>Departamento de residencia</strong></td>
				<td><input type="text" name="txtDepto" class="text" required value="{{ Emp.depto }}"/></td>
			</tr>
			<tr>
				<td><strong>Municipio de residencia</strong></td>
				<td><input type="text" name="txtMuni" class="text" required value="{{ Emp.municipio }}"/></td>
			</tr>
			<tr>
				<td><strong>Fecha  de nacimiento</strong></td>
				<td><input type="text" name="txtFechaN" class="text" required value="{{ Emp.fechaNacimiento }}"/></td>
			</tr>
			<tr>
				<td><strong>Lugar de nacimiento</strong></td>
				<td><input type="text" name="txtLugarN" class="text" required value="{{ Emp.lugarNacimiento }}"/></td>
			</tr>
			<tr>
				<td><strong>Nacionalidad</strong></td>
				<td><input type="text" name="txtNacionalidad" class="text" required value="{{ Emp.nacionalidad }}"/></td>
			</tr>			
			<tr>
				<td><strong>Correo El&eacute;ctronico</strong></td>
				<td><input type="email" name="txtMail" class="text" required value="{{ Emp.email }}"/></td>
			</tr>
			<tr>
				<td><strong>Estado Civil</strong></td>
				<td>
						<select type="text" name="txtEstadoCivil" class="text" value="">
							<option value="{{ Emp.estadoCivil}}">{{ Emp.estadoCivil }}</option>
							<option >Soltero</option>
							<option >Casado</option>
							<option >Divorciado</option>
							<option >Viudo</option>
							<option >Union Libre</option>
						</select>
				</td>
			</tr>
			<tr>
				<td><strong>Nombre del padre</strong></td>
				<td><input type="text" name="txtPadre" class="text" required value="{{ Emp.nombrePadre }}"/></td>
			</tr>
			<tr>
				<td><strong>Nombre de la madre</strong></td>
				<td><input type="text" name="txtMadre" class="text" required value="{{ Emp.nombreMadre }}"/></td>
			</tr>
		</table>
		<table class="listing form" cellpadding="0" cellspacing="0" style="width: 80%; margin: 0 auto;border: 0px;">
			<tbody id="parentPhone">
				<tr id="childPhone">
					<td><strong>Tel&eacute;fono 1</strong></td>
					<td><input type="text" name="txtTel0" class="text"required/></td>
					<td><input type="button" name="add" value="Agregar" onClick="clonarTel('childPhone')"/></td>
					<td></td>					
				</tr>
				<input type="hidden" name="numPhones" id="numPhones" value="" />
			</tbody>
		</table>
	</div>
	<div id="otherData" style="display: none">
		<table class="listing form" cellpadding="0" cellspacing="0" style="width: 80%; margin: 0 auto;border: 0px;">
			<tr>
				<td><strong>Nombre seg&uacute;n ISSS</strong></td>
				<td><input type="text" name="txtNameSeg" class="text"required value="{{ Emp.nombreSeguro }}"/></td>
			</tr>
			<tr>
				<td><strong>Nombre seg&uacute;n NIT</strong></td>
				<td><input type="text" name="txtNameNit" class="text" required value="{{ Emp.nombreNit }}"/></td>
			</tr>
			<tr>
				<td><strong>Observaciones</strong></td>
				<td><textarea  name="txtObser" class="text" style="width:262px;" required>{{ Emp.observaciones }}</textarea></td>
			</tr>
		</table>
		<table class="listing form" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0 auto;border: 0px;">
			<tbody id="parentDependents">
				<tr id="childDependents">
					<td><strong>Dependiente 1</strong></td>
					<td><input type="text" name="txtDep0" class="text" required/></td>
					<td>
						<select name="txtTypeDep0">
							<option value="0">Seleccione una opci&oacute;n...</option>
							<option>Familia</option>
							<option>Conocido</option>
						</select>
					</td>
					<td><input type="button" name="add" value="Agregar" onClick="clonarDep('childDependents')"/></td>
					<td></td>					
				</tr>
				<input type="hidden" name="numDep" id="numDep" value="1" />
			</tbody>
		</table>
	</div>
	<br /><br /><br />
	<div id="send" align="center">
        <div style="display: inline-block;" align="center"><input type="submit" value="Aceptar" name="btnAddEmp" class="button" onCLick="return envForm()" value="modificarEmpleado" /></div>
         <div style="display: inline-block;" align="center"><input type="button" name="btnCancel" class="button" onCLick="document.location.href='"{{ path('listaEmpleados', {page: 1}) }}"';" value="Cancelar" /></div>
    </div>
</div>
</form>

{% endblock %}
